h1 { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
a { color: rgb(255, 0, 0)}
a:hover {background-color: rgb(30, 117, 231);
        color: green;}
a:active {color: aquamarine;}
a:visited { color: rgb(255, 0, 0);}
body{background-color: rgb(238, 238, 238);}
 dt{ color: rgb(100, 19, 19);}
 